@import "./styles/variables.scss";
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

.nav {
  position: sticky;
  top: 0;
  height: 60px;
  //transition: all .3s ease;
  z-index: 1100;
  //box-shadow: 0 15px 60px 0 rgb(0 0 0 / 5%);
  box-shadow: 0 10px 30px 0 rgb(0 0 0 / 3%);
  width: 100%;
  background-color: $colorWhite;

  .swipeableDrawerContainer {
    display: none
  }

  .container {
    max-width: 1300px;
    height: 60px;
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .logo {
      display: none !important;
    }

    .menu {
      //width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      list-style: none;
      grid-gap: 2rem;
      flex-grow: 1;

      li {
        cursor: pointer;
        font-size: 17px;
        font-weight: bold;
        padding: 1rem .5rem;

        .selected {
          color: $colorBlue;
        }

        &:hover {
          color: #556cd6;
        }
      }
    }

    .menuIcon {
      display: none;
    }

    .btnHireMe {
      text-transform: inherit;
      border-radius: 50px;
      font-size: 17px;
      background-color: $colorGreen;

      /* &:after {
         content: '';
         width: 30px;
         height: 30px;
         border-radius: 100%;
         border: 6px solid $colorBlue;
         position: absolute;
         z-index: -1;
         top: 50%;
         left: 50%;
         transform: translate(-50%, -50%);
         animation: ring 1.5s infinite;
       }*/

      .icon {
        margin-left: .5rem;
      }
    }
  }
}

@keyframes ring {
  0% {
    width: 30px;
    height: 30px;
    opacity: 1;
  }
  100% {
    width: 300px;
    height: 300px;
    opacity: 0;
  }
}

/*.shadow {
  box-shadow: 0 15px 60px 0 rgb(0 0 0 / 5%);
}*/

.drawer {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

@media only screen and(min-width: 768px) and (max-width: 960px) {
  .nav {
    .container {
      flex-direction: row-reverse;

      .logo {
        display: block !important;
        font-family: 'Pacifico', cursive;
        font-size: 30px;
        text-align: center;
        flex-grow: 1;
        cursor: pointer;
      }

      .menu {
        display: none;
      }

      .menuIcon {
        display: flex;
      }

      .btnHireMe {
        order: -1;
      }
    }
  }
}

@media only screen and(max-width: 768px) {
  .nav {
    .swipeableDrawerContainer {
      display: block;
    }

    .swipeableDrawerContainer {
      list-style: none;
      font-weight: 600;
    }

    .container {
      flex-direction: row-reverse;

      .logo {
        display: block !important;
        font-family: 'Pacifico', cursive;
        font-size: 30px;
        text-align: center;
        flex-grow: 1;
        cursor: pointer;
      }

      .menu {
        display: none;
      }

      .menuIcon {
        display: flex;
      }

      .btnHireMe {
        order: -1;
        font-size: 12px;

        .icon {
          display: none
        }
      }
    }
  }
}
