@import "../../../styles/variables";

.aboutMeSection {
  position: relative;

  .subTitle {
    width: 70%;
  }

  .aboutMe {
    margin: 3rem 0;

    .myInfo {
      .highLightedText {
        margin-top: 2rem;
        font-weight: bold;
        font-size: 18px;
        color: $colorBlue;
      }
    }

    .myImageContainer {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;

      .myImage {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        border-radius: 10px;
      }
    }
  }
}


@media only screen and(max-width: 768px) {
  .subTitle {
    width: 100% !important;
  }
  .aboutMe {
    .myImageContainer {
      padding-top: 5rem;
    }
  }
}