@import "../../../styles/variables";

.aboutMeSection {
  position: relative;

  .aboutMe {
    margin: 3rem 0;

    .myInfo {
      .highLightedText {
        margin-top: 2rem;
        font-weight: bold;
        font-size: 18px;
        color: $colorBlue;
      }
    }

    .myImageContainer {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;

      .myImage {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        border-radius: 10px;
      }
    }
  }
}

@media only screen and(max-width: 768px) {
  .aboutMeSection {
    .aboutMe {
      .myImageContainer {
        padding-top: 5rem;
      }
    }
  }
}

@media only screen and(max-width: 425px) {
  .aboutMeSection {
    .aboutMe {
      .myImageContainer {
        img {
          width: 400px;
          height: 250px;
        }
      }
    }
  }
}

@media only screen and(max-width: 375px) {
  .aboutMeSection {
    .aboutMe {
      .myImageContainer {
        img {
          width: 300px;
          height: 200px;
        }
      }
    }
  }
}