@import "../../../styles/variables";

.social {
  margin: 2rem 0;
  display: flex;
  flex-direction: column;

  .hireMeText {
    font-size: 20px;
  }

  div {
    display: flex;
    align-items: center;
    gap: 1rem;

    .socialIcon {
      padding: 15px;
    }
  }
}

@media only screen and(max-width: 425px) {
  .social {
    div {
      justify-content: center;
    }
  }
}