@import "../../../styles/variables";

.firstSection {
  position: relative;
  height: 95vh;

  .about {
    .aboutContent {

      .title {
        font-family: 'Pacifico', cursive;
        font-size: 70px;
        padding-bottom: 1rem;
      }

      .subTitle {
        .subText {
          color: $colorBlue;
          border-bottom: 2px solid;
          font-weight: bold;
        }
      }

      .mainCTAs {
        display: flex;
        align-items: center;
        gap: 1rem;

        .btnGetInTouch {
          width: 220px;
          font-size: 20px;
          text-transform: inherit;
          border-radius: 50px;
          padding-left: 0;
          padding-right: 0;

          .icon {
            transform: rotate(330deg);
            margin-left: 1rem;
            padding-bottom: 0.5rem;
          }
        }

        .btnDownloadCv {
          width: 220px;
          font-size: 20px;
          text-transform: inherit;
          border-radius: 50px;

          .icon {
            margin-left: 1rem;
          }
        }
      }

      .social {
        margin: 2rem 0;
        display: flex;
        align-items: center;
        gap: 1rem;

        div {
          .socialIcon {
            padding: 15px;
          }
        }
      }

      .scrollDownArrow {
        margin-bottom: 2rem;
        position: absolute;
        bottom: 0;
        left: 50%;
        width: 50px;
        height: 50px;
        animation: scroll ease 2s infinite;
        cursor: pointer;
      }
    }

    .avatar {
      text-align: center;
      position: relative;

      .avatarImage {
        padding: 3px !important;
        border-radius: 100%;
        max-width: 100%;
        max-height: 100%;
        border: 2px solid transparent !important;
        background: linear-gradient(45deg, #fde68a, #d8b4fe) border-box !important;
        -webkit-mask-composite: unset;
        mask-composite: exclude;
      }
    }
  }
}

@media only screen and(max-width: 900px) {
  .firstSection {

    .about {
      display: flex;
      flex-direction: column-reverse;

      .aboutContent {
        .nameImage {
          max-width: 100%;
          max-height: 100%;
          height: auto;
        }

        .subTitle {
          width: 100%;
        }

        .scrollDownArrow {
          left: 45%
        }
      }
    }
  }
}

@media only screen and(max-width: 768px) {
  .firstSection {
    .about {
      .avatar {
        text-align: left;
        margin-bottom: 1rem;
      }
    }
  }
}

@media only screen and(max-width: 425px) {
  .firstSection {
    padding: 8rem 0;
    height: unset;

    .about {

      .aboutContent {
        .title {
          font-size: 3rem;
        }

        .subTitle {
          font-size: 1.2rem
        }

        .mainCTAs {
          display: flex;
          align-items: center;
          gap: 1rem;
          flex-direction: column;

          .btnDownloadCv {
            margin-left: 0;
          }
        }

        .scrollDownArrow {
          display: none;
        }
      }
    }
  }
}

@media only screen and(max-width: 375px) {
  .firstSection {
    .about {
      .aboutContent {
        .title {
          font-size: 2.5rem;
        }

        .social {
          div {
            flex-wrap: wrap;

            .socialIcon {
              margin: 0;
              padding: 0
            }
          }
        }
      }
    }
  }
}

@keyframes scroll {
  0% {
    transform: translateY(0);
  }
  30% {
    transform: translateY(20px);
  }
}