@import "../../../styles/variables";

.portfolioSection {
  /*  background-image: linear-gradient(120deg, $colorBlue, $colorBlue);
    background-repeat: no-repeat;
    background-size: 100% 30em;
    position: sticky;
    top: 0;
    color: $colorWhite;*/
  position: relative;

  .projects {
    display: flex;

    .nav {
      position: sticky;
      top: 4rem;
      z-index: 999;
      align-self: flex-start;
      width: 25%;

      .header {
        font-size: 16px;
        font-weight: bold;
      }
    }

    .portfolioContainer {
      width: 100%;
      padding: 3rem 0;

      /*.portfolioMobileNavToggle {
        display: none;
      }*/

      .portfolioToggle {
        display: none;
        margin: 3rem 0;
        justify-content: flex-end;
      }

      .grid {
        margin: 0 auto 2rem;

        .portfolioCard {
          background-color: #FFF;
          border-radius: 20px;
          box-shadow: 0 15px 40px 0 rgb(0 0 0 / 10%);

          .projectImage {
            width: 100%;
            padding: 24px;
            cursor: pointer;
            border-radius: 20px;
            position: relative;

            .sliderImages {
              width: 100%;
              /*height: 660px;
              max-height: 56vw;*/
              height: 600px;
              max-height: 50vw;
              position: relative;
              //padding: 2rem;

              span {
                border-radius: 20px;
                left: 0.5rem !important;
                right: 0.5rem !important;

                .image {
                  //object-fit: unset !important;
                }
              }
            }

            .sliderImagesGrid {
              height: 400px
            }

            .stepCounter {
              position: absolute;
              right: 0.5rem;
              top: 0.5rem;
              z-index: 999;
              font-size: 20px;
              border-radius: 100px;
              padding: 0.5rem;
              background: $colorBlue;
              color: $colorWhite;
              box-shadow: 0 6px 25px 0 rgb(0 0 0 / 25%);
            }

            .stepper {
              visibility: hidden;
              opacity: 0;
              position: absolute;
              top: 50%;
              width: 100%;
              background: transparent;
              color: $colorWhite;
              z-index: 999;
              left: 0;
              right: 0;
              bottom: 50%;

              .stepperDot {
                display: none
              }

              .stepperButton {
                font-size: 20px;
                border-radius: 100px;
                padding: 0.5rem;
                background: $colorWhite;
                border: $border;
                box-shadow: 0 6px 25px 0 rgb(0 0 0 / 25%);
              }

              .btnLeft {
                margin-left: 2rem;
                transform: translate3d(-100%, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
              }

              .btnRight {
                transform: translate3d(0, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
              }
            }

            &:hover {
              .stepper {
                visibility: visible;
                opacity: 1;
                transition: all .3s ease;

                .btnLeft {
                  transition: all .3s ease;
                  transform: translate3d(0, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
                }

                .btnRight {
                  transition: all .3s ease;
                  transform: translate3d(-50%, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
                }
              }
            }
          }

          .projectInfo {
            padding: 1rem 2rem;

            .title {
              display: flex;
              align-items: center;
              gap: 1rem;
              margin-bottom: 16px;

              .projectName {
                margin-bottom: 0;
              }
            }

            .openInNewButton {
              margin-left: 1rem;

              .icon {
                color: $colorWhite !important;
              }
            }

            .descriptionSection {
              .descriptionTitle {
                margin-top: 16px;
              }

              .tags {
                margin-right: 1rem;
                margin-bottom: .5rem;
                font-size: 14px;
                font-weight: bold;
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and(max-width: 768px) {

  .portfolioSection {
    .nav {
      display: none;
    }

    .portfolioContainer {
      margin-top: 3rem;

      .portfolioToggle {
        display: none;
      }

      /*.portfolioMobileNavToggle {
        display: flex !important;
        align-items: center;
        justify-content: center;
        grid-gap: 1rem;
        position: sticky;
        top: 3rem;
        z-index: 1000;
        padding: 1rem 0;

        .nonSelected {
          background-color: rgb(229 229 229);
          font-size: 16px;
          font-weight: bold;
        }

        .selected {
          background-color: $colorBlue;
          color: $colorWhite;
          font-size: 16px;
          font-weight: bold;
        }
      }*/
    }
  }
}

@media only screen and(max-width: 425px) {
  .portfolioCard {
    .projectImage {
      padding: 10px 4px !important;
    }
  }
}