@import "../../../styles/variables";

.skillsSection {
  .skillsContainer {
    margin: 3rem 0 0;

    .skillsList {
      margin: 1.5rem 0;
      cursor: pointer;

      .skill {
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;
        gap: .5rem;

        .skillName {
          font-size: 16px;
        }
      }
    }
  }
}