$colorPrimary: rgb(51, 51, 51);
$colorSecondary: rgb(91, 112, 131);
$colorBlue: #556cd6; //#6200EE
$colorPurple: #131B52;
$colorLightGray: #F2F3F5;
$colorGray: gray;
$colorGrayBg: #F9F9F9;
$colorLighterGray: #cecece;
$colorGreen: #06a551; //#4DA258
$colorDanger: rgb(220, 0, 78);
$colorWhite: #FFF;
$borderColor: rgba(51, 51, 51, 0.07);
$cardShadow: 0 2px 6px -2px rgb(0 106 194 / 20%);
$border: 1px solid #eaeaea;